# === Telegram Bot ===
BOT_TOKEN=PASTE_YOUR_TELEGRAM_BOT_TOKEN_HERE

# === Prisma / SQLite ===
DATABASE_URL="file:./prisma/dev.db"

# === API port ===
PORT=3000

# === Auth ===
# 1 = dev (не проверять подпись Telegram WebApp)
# 0 = prod (строгая проверка подписи Telegram WebApp)
SKIP_AUTH=1
